* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.flex1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
}

/*-----------head---------*/
.head {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  color: #C0212A;
  background-color: #ffffff;
  padding-inline: 2rem;
}
.head .content {
  padding: 10px 20px;
}
.head p {
  opacity: 0.8;
  margin-top: 15px;
  font-size: 1.5rem;
}
.head .social_media i {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #C0212A;
  border: 2px solid #C0212A;
  border-radius: 50%;
  margin-left: 10px;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.5s;
}
.head .social_media i:hover {
  border: 2px solid #fff;
  color: white;
}

/*-----------header---------*/
nav .sidenav {
  height: 40%;
  position: fixed;
  z-index: 10000;
  top: 8%;
  right: 2.5%;
  background: rgba(255, 255, 255, 0.6784313725);
  overflow-y: hidden;
  transition: 0.5s;
  border-radius: 2rem;
}
nav .sidenav .menu_items {
  float: right;
}
nav .sidenav .menu_items a {
  margin: 20px;
  display: block;
  color: #C0212A;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.3s;
}
nav .sidenav .menu_items a:hover {
  transform: scale(1.1);
}
nav .social_media .closebtn,
nav .social_media .hamburger-icon {
  position: fixed;
  top: 15px;
  right: 1%;
  font-size: 2rem;
  color: #C0212A;
  cursor: pointer;
  z-index: 1000;
}
nav .close {
  display: none;
}
nav .open {
  display: inherit;
}

/*-----------home---------*/
.home .item .heading {
  position: relative;
  color: #000;
  text-align: center;
  max-width: 60%;
  margin: auto;
  margin-top: 5%;
}
.home .item .heading h1 {
  font-size: 7rem;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 120px;
}
.home .item .heading h1 span {
  color: #C0212A;
}
.home .item .heading p {
  color: white;
  line-height: 30px;
  font-size: 1rem;
  opacity: 0.7;
}
.home .item .heading button {
  background: #C0212A;
  border: none;
  color: white;
  border-radius: 50px;
  font-size: 1rem;
  margin-top: 0.5rem;
  transition: 0.5s;
  cursor: pointer;
  padding: 1rem 3rem;
}
.home .item .heading button:hover {
  background: white;
  color: #C0212A;
}
.home .item .img img {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 90vh;
}
.home .item .img img::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.726);
  z-index: 1;
}

/*-----------products---------*/
.our-products {
  text-align: center;
  margin-top: 3rem;
}
.our-products .container {
  max-width: 90%;
  margin: auto;
}
.our-products .container .heading h2 {
  font-size: 5rem;
}
.our-products .container .our-product-list {
  margin-top: 5%;
}
.our-products .container .our-product-list .product-item .product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 100%;
}
.our-products .container .our-product-list .product-item .product-img img {
  border-radius: 0.5rem;
  width: 12rem;
  height: 12rem;
}
.our-products .container .our-product-list .product-item .product-text h3 {
  font-size: 25px;
  margin: 20px 0;
}

/*-----------stop-by----------*/
.stop-by {
  color: #fff;
  background-image: url(../images/pouredSodaDrink.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.stop-by .stop-by_wrapper {
  float: right;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  height: 100vh;
  padding-inline: 5rem;
}
.stop-by .stop-by_wrapper .stop-by_right-header {
  text-align: left;
}
.stop-by .stop-by_wrapper .stop-by_right-header h2 {
  font-size: 2.5rem;
}
.stop-by .stop-by_wrapper .stop-by_right-header h2 span {
  font-size: 5rem;
  color: #C0212A;
}
.stop-by .stop-by_wrapper .stop-by_right-header p {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}
.stop-by .stop-by_wrapper .stop-by_extra_buttons {
  display: flex;
  gap: 2rem;
  align-items: flex-end;
}
.stop-by .stop-by_wrapper .stop-by_extra_buttons .more_location_wrapper {
  font-size: 1rem;
}
.stop-by .stop-by_wrapper .stop-by_extra_buttons .more_location_wrapper .more_location_select {
  width: 15rem;
  background-color: #fff;
  border: none;
  height: 2rem;
  outline: none;
  border-radius: 0.2rem;
  font-size: 1rem;
  padding-inline: 0.5rem;
  cursor: pointer;
}
.stop-by .stop-by_wrapper .stop-by_extra_buttons button {
  width: 10rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

/*-----------Product prices----------*/
.product-price {
  background: #fff;
}
.product-price .product-price-wrapper {
  padding: 2rem 0;
}
.product-price .product-price-wrapper h2 {
  font-size: 5rem;
  text-align: center;
}
.product-price .product-price-wrapper .product_menu {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.product-price .product-price-wrapper .product_menu .product-details {
  display: flex;
  width: 45%;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
}
.product-price .product-price-wrapper .product_menu .product-details hr {
  width: 30%;
  height: 2px;
  border-top: 2px dotted gray;
}
.product-price .product-price-wrapper .product_menu .product-details .img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-price .product-price-wrapper .product_menu .product-details .img img {
  height: 5rem;
  width: 5rem;
}

/*-----------active-hours----------*/
.active-hours {
  display: flex;
  gap: 0.5rem;
  height: 80dvh;
}
.active-hours .open-days {
  grid-area: top;
  padding: 1rem 2rem;
  background-image: url(../images/pouredCoke.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
  font-size: 1.5rem;
  color: #fff;
  letter-spacing: 0.1rem;
  width: 50%;
}
.active-hours .open-days h2 {
  text-align: center;
  font-size: 2em;
}
.active-hours .open-days .active-days {
  margin-top: 5rem;
}
.active-hours .open-days .active-days .active-time {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
}
.active-hours .open-days .active-days .active-time h4 {
  color: #C0212A;
}
.active-hours .ucl-games-night {
  background-image: url(../images/championsLeaguePepsi.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  padding-bottom: 5rem;
  width: 50%;
}
.active-hours .ucl-games-night h4 span {
  color: #C0212A;
}

/*-----------packs----------*/
.packs {
  padding: 2rem;
  margin: 1rem auto;
  text-align: center;
}
.packs .packs-header {
  font-size: 3rem;
}
.packs .product-pack {
  margin: 4rem 0;
}
.packs .product-pack .product-pack-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.packs .product-pack .product-pack-box .pack-img img {
  border-radius: 0.5rem;
  width: 12rem;
  height: 12rem;
}
.packs .product-pack .product-pack-box .pack-info {
  font-size: 1.2rem;
  line-height: 1.4;
  letter-spacing: 0.03em;
}
.packs .product-pack .product-pack-box .pack-info h5 {
  color: #C0212A;
  font-weight: 700;
}
.packs .product-pack .product-pack-box .pack-info .buy_now {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
}
.packs button {
  background-color: #C0212A;
  border: none;
  cursor: pointer;
  outline: none;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}
.packs button:hover {
  background-color: transparent;
  color: #C0212A;
  border: 1px solid #C0212A;
}

/*# sourceMappingURL=styles.css.map */
