@import url('https://fonts.cdnfonts.com/css/source-sans-pro');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$primary-color: #C0212A;

body, html {
  font-family: 'Source Sans Pro', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.desc-info {
  text-align: center;
  color: $primary-color;
  font-size: 1.5rem;
}

.logo {
  margin: auto;
  margin-top: 5rem;
  width: 6rem;
  height: 6rem;
  background-color: $primary-color;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 600px) {
    margin-top: 1rem;
    width: 4rem;
    height: 4rem;
    
  }
}



header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  color: $primary-color;
  background-color: #ffffff;
  padding-inline: 2rem;

  display: flex;
  align-items: center;
  @media screen and (max-width: 900px) {
    padding-inline: .5rem;
  }
  
}


/*-----------head---------*/
.head {
  width: 95%;
  .content {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .social_media {
      display: flex;
  
      i {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary-color;
        border: 2px solid $primary-color;
        border-radius: 50%;
        margin-left: 10px;
        opacity: 0.8;
        cursor: pointer;
        transition: 0.5s;
  
        &:hover {
          color: #fff;
          background-color: $primary-color;
        }
      }

      p {
        opacity: 0.8;
        margin-top: 15px;
        font-size: 1.5rem;
      }
    }
  }

  @media screen and (max-width: 600px){
    position: static;
    padding-inline: 0;
    .content{
      padding: 1rem 0;
      .social_media {
        display: none;
      }

      .account {
        display: flex;
      }
    }
    
  }

}

/*-----------header---------*/
nav {
  .sidenav {
    height: 40%;
    position: fixed;
    z-index: 10000;
    top: 8%;
    right: 2.5%;
    background: #ffffffad;
    overflow-y: hidden;
    transition: 0.5s;
    border-radius: 2rem;

    .social_media-small {
      display: none;
    }

    .menu_items {
      float: right;

      a {
        margin: 20px;
        display: block;
        color: $primary-color;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        transition: .3s;

        &:hover {
          transform: scale(1.1);
        }
              
      }
    } 
  }
  
  .menu_btn {

    .closebtn,
    .hamburger-icon {
      font-size: 2rem;
      color:$primary-color;
      cursor: pointer;
      // z-index: 1000
    }

  }
  
  .close {
    display: none;

  }

  .open {
    display: inherit;
  }

  @media screen and (max-width: 600px) {
    .sidenav {
      .social_media-small {
        display: flex;
        margin: 2rem;
        gap: 1rem;
      }
    }
  }
}

/*-----------home---------*/
#home {
  background-image: url(../images/chilledDrink.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  height: 80dvh;

  .item {

    .heading {
      text-align: center;
      color: #000;
      max-width: 60%;
      margin: auto;
      
      h1 {
        font-size: 6rem;

        span {
          color: $primary-color;
          font-size: 7rem;
        }
      }

      button {
        background: $primary-color;
        border: none;
        color: white;
        border-radius: 50px;
        font-size: 1rem;
        margin-top: 2rem;
        transition: 0.5s;
        cursor: pointer;
        padding: 1rem 3rem;
        font-weight: 700;
      
    
        &:hover {
          background: white;
          color: $primary-color;
        }
      }
      
    }
    
  }

  @media screen and (max-width: 600px) {
    .item {
      margin-top: 5rem;
      .heading {
        max-width: 100%;
        h1 {
          font-size: 4rem;
            
          span {
            font-size: 4rem;
          }
        }
      }
    }
    
  }

  @media screen and (max-width: 900px) {
    .item {
      .heading {
        max-width: 100%;
      }
    }
    
  }

}

/*-----------products---------*/
.our-products {
  text-align: center;
  margin: 2rem 0;
  
  .container {
    max-width: 90%;
    margin: auto;
    
    .heading {
      h2 {
        font-size: 5rem;
      }
    }
    
    .our-product-list {
      margin-top: 5%;

      .product-item {
        
        .product-img {
          display: flex;
          justify-content: center;
          align-items: center;
          object-fit: cover;
          width: 100%;
          img {
            border-radius: .5rem;
            width: 12rem;
            height: 12rem;
          }
        }
        .product-text {
          h3 {
            font-size: 25px;
            margin: 20px 0;
          }

        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .container {
      .heading {
        h2 {
          font-size: 3rem;
        }
      }
    }
    
  }
}

/*-----------stop-by----------*/
.stop-by {
  color: #fff;
  background-image: url(../images/pouredSodaDrink.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  .stop-by_wrapper {
    float: right;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    height: 100vh;
    padding-inline: 5rem;

    .stop-by_right-header {
      text-align: left;
      h2 {
        font-size: 5rem;
        color:$primary-color;
        span {
          background-color: $primary-color;
          border-radius: .5rem;
          padding-inline: .5rem;
          color: #fff;
        }
      }

      h4 {
        font-size: 2.5rem;
      }

      p {
        margin-top: .5rem;
        font-size: 1.5rem;
      }

    }

    .stop-by_extra_buttons {
      display: flex;
      gap: 2rem;
      align-items: flex-end;

      .more_location_wrapper {
        font-size: 1rem;
        .more_location_select {
          width: 15rem;
          background-color: #fff;
          border: none;
          height: 2rem;
          outline: none;
          border-radius: .2rem;
          font-size: 1rem;
          padding-inline: .5rem;
          cursor: pointer;
        }
      }

      button {
        width: 10rem;
        padding: .5rem;
        border: none;
        outline: none;
        border-radius: .5rem;
        cursor: pointer;
        background-color: $primary-color;
        color: #fff;
        font-weight: 700;
        
        &:hover {
          color: $primary-color;
          background-color: #fff;
        }
      }
    }

  }

  @media screen and (max-width: 600px) {
    .stop-by_wrapper {
      width: 100%;
      float: none;
      padding-inline: 1rem;

      .stop-by_right-header {
        h2 {
          font-size: 4rem;
        }
      }

      .stop-by_extra_buttons {
        .more_location_wrapper {
          .more_location_select {
            width: 10rem;
          }
        }
      }
    }
    
  }

  @media screen and (max-width: 900px) {
    .stop-by_wrapper {
      .stop-by_extra_buttons {
        .more_location_wrapper {
          .more_location_select {
            width: 10rem;
          }
        }
      }
    }
    
  }
}

/*-----------Product prices----------*/
#product-price {
  background: #fff;

  .product-price-wrapper {
    padding: 2rem 0;

    h2 {
      font-size: 5rem;
      text-align: center;
    }

    .product_menu {
      padding: 2rem;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;

      .product-details {
        display: flex;
        width: 45%;
        align-items: center;
        gap: 1rem;
        margin: 0 auto;
        hr {
          width: 30%;
          height: 2px;
          border-top: 2px dotted gray;
        }

        .img {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            height: 5rem;
            width: 5rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .product-price-wrapper {
      h2{
        font-size: 3.5rem;
      }
      .product_menu {
        padding: 1rem;
        .product-details {
          flex-direction: column;
          .text {
            p {
              display: none;
            }
          }
          hr {
            display: none;
          }
        }
      }
    }
    
  }

}

/*-----------active-hours----------*/
.active-hours {
  background-image: url(../images/cupOfCoke.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50%;
  background-size: cover;
  // color: #fff;

  .backdrop {
    background-color: rgba(255, 255, 255, 0.171);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    .open-days {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      width: 100%;
      z-index: auto;

      .active-image {
        width: 50%;
        padding: 5rem;

        img {
          width: 100%;
          height: 100%;
          border-radius: 1rem;
        }
      }

      
      .active-days {
        width: 50%;
        padding: 10rem;
        
        .active-header {
          margin-bottom: 5rem;
          h2 {
            font-size: 1.5rem;
          }
        }

        .active-time {
          display: flex;
          justify-content: space-between;
          line-height: 1.5;

          h4 {
            color: $primary-color;
          }

          p {
            color: #ff0000;
          }
        }
      }

    }

    .ucl-games-night {
      display: flex;
      align-items: center;
      font-size: 2.5rem;
      width: 100%;


      .ucl-image {
        width: 50%;
        padding: 5rem;

        img {
          width: 100%;
          height: 100%;
          border-radius: 1rem;
        }
      }

      .ucl-text {
        width: 50%;
        padding: 5rem;

        h3 {
          text-transform: uppercase;
          span {
            color:$primary-color;
            // font-weight: 900;
            // font-size: 5rem;
          }
        }

        p {
          margin: .5rem 0;
          font-size: 2rem;
        }


      }
    }
  }
  
  @media screen and (max-width: 600px) {
    .backdrop {
      .open-days {
        .active-image {
          display: none
        }

        .active-days {
          width: 100%;
          padding: 1rem;

          .active-header {
            margin-bottom: 2rem;
          }
        }
      }

      .ucl-games-night {
        flex-direction: column;

        .ucl-image {
          width: 100%;
          padding: 1rem;

        }

        .ucl-text {
          width: 100%;
          padding: 1rem;
        }
      }
    }
    
  }

  @media screen and (min-width: 600px) {
    .backdrop {
      .open-days {
        .active-days {
          padding: 3rem
        }
      }
    }
    
  }


}

/*-----------packs----------*/
.packs {
  padding: 2rem;
  margin: 1rem auto;
  text-align: center;

  .packs-header {
    h2 {
      font-size: 5rem;
    }
  }

  .product-pack {
    margin: 4rem 0;

    .product-pack-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      .pack-img {
        img {
          border-radius: .5rem;
          width: 12rem;
          height: 12rem;
        }
      }

      .pack-info {
        font-size: 1.2rem;
        line-height: 1.4;
        letter-spacing: .03em;

        h5 {
          color: $primary-color;
          font-weight: 700;
        }

      }

      .buy_now {
        width: 100%;
        padding:.5rem;
        margin-top: 1rem;
      }
    }
  }

  button {
    background-color: $primary-color;
    border: none;
    cursor: pointer;
    outline: none;
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 600;

    &:hover {
      background-color: transparent;
      color: $primary-color;
      border: 1px solid $primary-color;
    }
  }

  @media screen and (max-width: 600px) {
    .packs-header {
      h2 {
        font-size: 3rem;
      }
    }
    
  }
}

/*-----------brands----------*/
.brands {

  .brands-wrapper {
    text-align: center;
    margin: 1rem 0;

    .brands-container {
      display: flex;

      .brand-logo {
        width: 11rem;
        height: 11rem;
        cursor: pointer;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          transition: 0.5s;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .brands-wrapper {
      .brands-container {
        .brand-logo {
          width: 4rem;
          height: 4rem;
        }
      }
    }
    
  }
}

/*-----------Footer----------*/
#footer {
  background-image: url(../images/icedCupOfCoke.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 85dvh;
  color: #fff;

  .footer-wrapper {
    background-image: url(../images/wave-haikei.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 70%;
    background-attachment: scroll;
    height: inherit;

    .footer-details {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 2rem;
      gap: 1rem;

      h3 {
        color: #000;
        font-size: 2rem;
        font-weight: 700;
      }

      .outro-box {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        p {
          font-size: 1.2rem;
        }

        .footer-social-icons {
          font-size: 1.5rem;

          i {
            cursor: pointer;
            transition: .3s;

            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }

      .contact-info {
        margin-top: 5rem;

        .address {
          .address-info {
            display: flex;
            gap: 1rem;
            margin-top: 1rem;

            .contact-icon {
              font-size: 1.5rem;
            }

            .address-details,
            .contact-details {
              h5 {
                font-size: 1.3rem;
                margin-bottom: .5rem;
              }

              p {
                font-size: 1.2rem;
                padding-inline: 1rem;
              }
            }
          }
        }
      }

      .subscribe-container {
        margin-top: 5rem;
        max-width: 30vw;

        .subscribe-box {
          display: flex;
          flex-direction: column;
          gap: .5rem;
          font-size: 1rem;


          input[type=text],
          input[type=email],
          .book-us-text {
            width: 100%;
            padding: .5rem;
            border: none;
            outline: none;
            border-radius: .5rem;
          }

          .submit {
            margin: 1rem 0;
            background-color: #fff;
            color: #000;
            border: none;
            outline: none;
            cursor: pointer;
            transition: all .4s ease;
            padding: .5rem 1rem;
            border-radius: .5rem;
            font-size: 1rem;
            font-weight: 600;
            width: 10rem;
            align-self: center;
          }
        }

        .check {
          font-size: 1.2rem;

          .tandc {
            color: #000;
            font-weight: bold;
          }
        }
      }
    }

    .legal {
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      
      p {
        padding: .5rem 2rem;
        font-size: 1.2rem;
        
      }
    }
    
  }

  @media screen and (max-width: 600px) {
    height: 100dvh;
    .footer-wrapper {
      .footer-details {
        flex-wrap: wrap;
        padding: 1rem;
        gap: 0;
        .outro-box {
          width: 30%;
          gap: .5rem;

          p {
            display: none;
          }

          .footer-social-icons {
            font-size: 1.2rem;
          }
        }

        .contact-info {
          margin-top: 1rem;
          width: 60%;

          h3 {
            font-size: 1.5rem;
          }

          .address {
            .address-info {
              .address-details {
                display: none
              }

              .contact-details {
                h5 {
                  font-size: 1rem;
                }

                p {
                  font-size: 1rem;
                  padding-inline: 0;
                }
              }

              .footer_location_wrapper {

              }
            }
          }
        }

        .subscribe-container {
          max-width: 100%;
          margin-top: 0;

          h3 {
            font-size: 1.5rem;
          }

          .subscribe-box {

            .book-us-text {
              height: 5em;
            }
            .submit {
              margin: .5rem 0;
              padding: .5rem;
            }
          }

          .check {
            font-size: .8rem;
          }
        }
      }

      .legal {
        p {
          padding: .5rem;
          font-size: 1rem;
        }
      }
    }
    
  }

  @media screen and (min-width: 600px){
    .footer-wrapper {
      .footer-details {
        .contact-info {
          .address {
            .address-info {
              .footer_location_wrapper {
                display: none;
              }
            }
          }
        }
      }
    }
    
  }
}