* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$primary-color: #C0212A;

body {
  font-family: 'Urbanist', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.flex1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
}


/*-----------head---------*/
.head {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    color: $primary-color;
    background-color: #ffffff;
    padding-inline: 2rem;

    .content {
    padding: 10px 20px;
    }

    p {
    opacity: 0.8;
    margin-top: 15px;
    font-size: 1.5rem;
    }

    .social_media i {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: $primary-color;
    border: 2px solid $primary-color;
    border-radius: 50%;
    margin-left: 10px;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.5s;
    }

    .social_media i:hover {
    border: 2px solid #fff;
    color: white;
    }
}

/*-----------header---------*/
nav {
  .sidenav {
    height: 40%;
    position: fixed;
    z-index: 10000;
    top: 8%;
    right: 2.5%;
    background: #ffffffad;
    overflow-y: hidden;
    transition: 0.5s;
    border-radius: 2rem;

    .menu_items {
      float: right;

      a {
        margin: 20px;
        display: block;
        color: $primary-color;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        transition: .3s;

        &:hover {
          transform: scale(1.1);
        }
              
      }
    } 
  }
  
  .social_media {

    .closebtn,
    .hamburger-icon {
      position: fixed;
      top: 15px;
      right: 1%;
      font-size: 2rem;
      color:$primary-color;
      cursor: pointer;
      z-index: 1000;
    }

  }
  
  .close {
    display: none;

  }

  .open {
    display: inherit;
  }
}

/*-----------home---------*/
.home {

  .item {
    .heading {
      position: relative;
      // z-index: 10;
      color: #000;
      text-align: center;
      max-width: 60%;
      margin: auto;
      margin-top: 5%;
      
      h1 {
        font-size: 7rem;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 120px;

        span {
          color: $primary-color;
        }
      }

      p {
        color: white;
        line-height: 30px;
        font-size: 1rem;
        opacity: 0.7;
      }

      button {
        background: $primary-color;
        border: none;
        color: white;
        border-radius: 50px;
        font-size: 1rem;
        margin-top: .5rem;
        transition: 0.5s;
        cursor: pointer;
        padding: 1rem 3rem;
      
    
        &:hover {
          background: white;
          color: $primary-color;
        }
      }
      
    }

    .img {
      img {
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 90vh;
      
        &::after {
          content: "";
          position: absolute;
          top: 0;
          width: 100%;
          height: 90vh;
          background-color: rgba(0, 0, 0, 0.726);
          z-index: 1;
        }
      }
      
      
    }
    

  }

  

}

/*-----------products---------*/
.our-products {
  text-align: center;
  margin-top: 3rem;
  
  .container {
    max-width: 90%;
    margin: auto;
    
    .heading {
      h2 {
        font-size: 5rem;
      }
    }
    
    .our-product-list {
      margin-top: 5%;

      .product-item {
        
        .product-img {
          display: flex;
          justify-content: center;
          align-items: center;
          object-fit: cover;
          width: 100%;
          img {
            border-radius: .5rem;
            width: 12rem;
            height: 12rem;
          }
        }
        .product-text {
          h3 {
            font-size: 25px;
            margin: 20px 0;
          }

        }
      }
    }
  }
}

/*-----------stop-by----------*/
.stop-by {
  color: #fff;
  background-image: url(../images/pouredSodaDrink.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  .stop-by_wrapper {
    float: right;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    height: 100vh;
    padding-inline: 5rem;

    .stop-by_right-header {
      text-align: left;
      h2 {
        font-size: 2.5rem;
        span {
          font-size: 5rem;
          color:$primary-color;
        }
      }

      p {
        margin-top: .5rem;
        font-size: 1.5rem;
      }

    }

    .stop-by_extra_buttons {
      display: flex;
      gap: 2rem;
      align-items: flex-end;

      .more_location_wrapper {
        font-size: 1rem;
        .more_location_select {
          width: 15rem;
          background-color: #fff;
          border: none;
          height: 2rem;
          outline: none;
          border-radius: .2rem;
          font-size: 1rem;
          padding-inline: .5rem;
          cursor: pointer;
        }
      }

      button {
        width: 10rem;
        padding: .5rem;
        border: none;
        outline: none;
        border-radius: .5rem;
        cursor: pointer;
      }
    }

  }
}

/*-----------Product prices----------*/
.product-price {
  background: #fff;

  .product-price-wrapper {
    padding: 2rem 0;

    h2 {
      font-size: 5rem;
      text-align: center;
    }

    .product_menu {
      padding: 2rem;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;

      .product-details {
        display: flex;
        width: 45%;
        align-items: center;
        gap: 1rem;
        margin: 0 auto;
        hr {
          width: 30%;
          height: 2px;
          border-top: 2px dotted gray;
        }

        .img {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            height: 5rem;
            width: 5rem;
          }
        }
      }
    }
  }

}

/*-----------active-hours----------*/
.active-hours {
  display: flex;
  gap: .5rem;
  height: 80dvh;

  .open-days {
    grid-area: top;
    padding: 1rem 2rem;
    background-image: url(../images/pouredCoke.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
    font-size: 1.5rem;
    color: #fff;
    letter-spacing: .1rem;
    width: 50%;

    h2 {
      text-align: center;
      font-size: 2em;
    }

    .active-days {
      margin-top: 5rem;
      .active-time {
        display: flex;
        justify-content: space-between;
        line-height: 1.5;

        h4 {
          color: $primary-color;
        }
      }
    }

  }

  .ucl-games-night {
    background-image: url(../images/championsLeaguePepsi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    padding-bottom: 5rem;
    width: 50%;

    h4 {
      span {
        color:$primary-color;
      }
    }
  }

}

/*-----------packs----------*/
.packs {
  padding: 2rem;
  margin: 1rem auto;
  text-align: center;

  .packs-header {
    font-size: 3rem;
  }

  .product-pack {
    margin: 4rem 0;

    .product-pack-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      .pack-img {
        img {
          border-radius: .5rem;
          width: 12rem;
          height: 12rem;
        }
      }

      .pack-info {
        font-size: 1.2rem;
        line-height: 1.4;
        letter-spacing: .03em;

        h5 {
          color: $primary-color;
          font-weight: 700;
        }

        .buy_now {
          width: 100%;
          padding:.5rem;
          margin-top: 1rem;
        }
      }
    }
  }

  button {
    background-color: $primary-color;
    border: none;
    cursor: pointer;
    outline: none;
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: 600;

    &:hover {
      background-color: transparent;
      color: $primary-color;
      border: 1px solid $primary-color;
    }
  }
}